<!DOCTYPE html>
<html>
<head>
  <title>Login Successful</title>
</head>
<body>
  <h1>🎉 Login Successful</h1>
  <p>Welcome back!</p>
  <p>Token:</p>
  <code><%= token %></code>
  <br><br>
  <a href="/">Go to Home</a>
  <a href="/welcome">Go to Dashboard</a>

</body>
</html>
